<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}] ${message}"/>

  <arg name="gazebo_launch_file" default="gazebo_supermarket.launch"/>
  <arg name="realsense_enabled" default="false"/>
  <include file="$(find mars_lite_description)/launch/$(arg gazebo_launch_file)">
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
  </include>

  <arg name="message_enabled" default="true"/>
  <node name="test_pose_planning" pkg="marslite_control" type="test_pose_planning" output="screen">
    <param name="message_enabled" value="$(arg message_enabled)"/>
    <param name="use_joystick" value="false"/>
  </node>
</launch>