<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Set the ROS console output format to the current time (H:M:S) -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}"/>

    <!-- Launch the MPC node -->
    <node name="test_default_pose_planning" pkg="marslite_mpc" type="test_default_pose_planning" output="screen">
    </node>
</launch>